# Auto detect text files and perform LF normalization
* text=auto
*.h text working-tree-encoding=UTF-16 eol=CRLF
*.c text working-tree-encoding=UTF-16 eol=CRLF
*.aps text working-tree-encoding=UTF-16 eol=CRLF
*.rc text working-tree-encoding=UTF-16 eol=CRLF
